# dependencies
2049-design/node_modules

# next.js
2049-design/.next/
2049-design/out/

# misc
.DS_Store
*.pem

# env
2049-design/.env*

# typescript
2049-design/*.tsbuildinfo
2049-design/next-env.d.ts

# vercel
2049-design/.vercel
